/* ==========================================================================
   TilesBig
   ========================================================================== */

.tilebig {
  @include outer-container();
  margin-bottom: $gutter;
  @include media($micro);
  @include media(new-breakpoint(min-width em(480) 12)) {
    @include span-columns(6);
    @include omega(2n);
  }
  .entry-date {
    @include font-size(16,no);
    color: lighten($text-color,25);
  }
  .post-title {
    @include font-size(18,no);
  }
  .post-excerpt {
    @include font-size(16);
  }
  span.text-content-big {
    @include font-size(30,no);
    background: rgba(0,0,0,0.5);
    color:  white;
    cursor: pointer;
    display: block;
    left: 0;
    position: absolute;
    top: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    span {
      display: block;
      margin-top: 25%;
      text-align: center;
      vertical-align: middle;
    }
  }
  .post-teaser-big {
    width: 100%;
    height: 100%;
    position: relative;
    display: block;
    &:after {
      content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background: rgba($base-color,0);
      pointer-events: none;
      @include transition(background 0.3s);
    }
    &:hover span.text-content-big {
      opacity: 1;
      &:after {
        background: rgba($base-color,0.2);
      }
    }
  }
}
